services:
  clickhouse:
    env_file: ../../.env
    image: clickhouse/clickhouse-server:25.8
    container_name: zer0data-clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ../../data/clickhouse/data:/var/lib/clickhouse
      - ../../data/clickhouse/logs:/var/log/clickhouse-server
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      CLICKHOUSE_DB: zer0data
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8123/ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
