services:
  clickhouse:
    image: clickhouse/clickhouse-server:24
    container_name: zer0data-clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - /data/clickhouse:/data/clickhouse
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      CLICKHOUSE_DB: zer0data
    command: >
      clickhouse server
      --listen_host=0.0.0.0
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
