services:
  ingestor:
    env_file: ../../.env
    build:
      context: ../..
      dockerfile: docker/ingestor/Dockerfile
    container_name: zer0data-ingestor
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ../../data/download:/data
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
