services:
  ingestor:
    env_file: ../../.env
    build:
      context: ../..
      dockerfile: docker/ingestor/Dockerfile
    container_name: zer0data-ingestor
    volumes:
      - ../../data/download:/data
    environment:
      CLICKHOUSE_HOST: host.docker.internal
      CLICKHOUSE_PORT: 8123
      CLICKHOUSE_DB: zer0data
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
